.PointItemInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid;
  box-shadow: inset 0px 8px 2px 0px;
}

.PointItemInner-chosen {
  box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.33);
}
